.text-center {
	text-align: center;
}

.text-left {
	text-align: right;
}

.text-right {
	text-align: right;
}

.p-r {
	padding-right: 15px;
}

button {
	outline: none;
}

.clickable {
	cursor: pointer;
}

.absolute-right {
	position: absolute;
	top: 20px;
	right: 20px;
}

a {
	text-decoration: none;
	color: inherit !important;
}

.m-b-md {
	margin-bottom: 50px;
}

.b-r {
	border-right: 1px solid #C3C3C3;
}

.float-left {
	float: left;
}